<div class="landing-page">

    <div class="page-section">

    </div>

    <div class="page-section">
        <h2>Надежный ремонт</h2>

        <p>В нашем сервисном центре производятся такие виды работ, как замена и ремонт электронных модулей, замена бака,
            замена нагревательного элемента, замена привода барабана, замена датчика уровня воды, резинового уплотнителя
            люка.</p>

        <p>Все виды работ по сервисному обслуживанию стиральных машин производятся при помощи оборудования
            рекомендованного производителями, мастерами, прошедшими специальное обучение и сертификацию.</p>

        <p>Позвонив по указанным телефонам, Вы сможете получить предварительную квалифицированную консультацию
            специалиста, уточнить ориентировочную стоимость ремонта стиральной машины, а также получить рекомендации по
            самостоятельному устранению неисправностей. Возможно, в Вашем случае, проблема будет решена в телефонном
            режиме и вызов мастера по ремонту стиральной машинки не потребуется. Если Вы предоставите максимально
            подробную информацию, такую как, фирма изготовитель устройства, модель, серийный номер (как правило указан
            на корпусе или в гарантийном талоне), а также характере ее неисправности, это позволит заранее определить
            объем работы, сложность поломки, а также необходимые для сервиса инструмент и запасные части, таким образом,
            ремонт будет произведен на дому, в течение несольких часов. </p>
    </div>

    <div class="page-section">
        <h2>Виды неисправностей</h2>

        <div class="content-center">
            <ul>
                <li>Вода не поступает в машинку</li>
                <li>Барабан машинки не крутится</li>
                <li>Машинка не включается</li>
                <li>Непрерывно набирается вода</li>
                <li>Лужа под стиральной машиной</li>
                <li>Отключается автомат</li>
                <li>Нет слива и белье не отжимается</li>
                <li>Течь из емкости дозатора</li>
                <li>Сильно гудит при отжиме</li>
                <li>Вода в машинке не нагревается</li>
            </ul>
        </div>
    </div>

    <div id="prise-list" class="page-section">
        <h2>Стоимость услуг</h2>

        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование работ</th>
                <th>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Вызов мастера, диагностика бесплатно**</td>
                <td>50 грн.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Мелкий ремонт и техническое обслуживание</td>
                <td>150грн.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ремонт 1 категории (ремонт средней сложности)</td>
                <td>200 грн.</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ремонт 2 категории (капитальный ремонт)</td>
                <td>300 грн.</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Извлечение встроенной техники или из труднодоступных и нестандартных мест установки</td>
                <td>400 грн.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Транспортировка (доставка техники в мастерскую и возврат после ремонта) по городу</td>
                <td>300 грн.</td>
            </tr>
            <td>7</td>
            <td>Нормо-час (или простой мастера по вине клиента)</td>
            <td>50 грн.</td>
            </tr>
            </tbody>
        </table>
        <p class="content-center">Цены являются усредненными, точная стоимость определяется в зависимости от модели
            стиральной машины и сложности устранения.</p>
    </div>

    <div id="callback" class="page-section">
        <h2>Вызвать мастера</h2>

        <form class="callback content-center">
            <div>
                <input type="text" placeholder="Вашe имя"/>
            </div>
            <div>
                <input type="text" placeholder="Ваш намер телефона"/>
            </div>
            <div>
                <button class="btn btn-success">Отправить</button>
            </div>
        </form>
    </div>
</div>


<h2>Виды услуг</h2>

<div class="landing-page">
    <div class="services-wrapper page-section">
        <h2>Мы выполняем работы по ремонту</h2>

        <div class="row">
            <div class="col-md-4">
                <img src="" alt=""/>

                <h3>Стиральных машин</h3>
            </div>
            <div class="col-md-4">
                <img src="" alt=""/>

                <h3>Бойлеров</h3>
            </div>
            <div class="col-md-4">
                <img src="" alt=""/>

                <h3>Газовых колонок</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="" alt=""/>

                <h3>Холодильников</h3>
            </div>
            <div class="col-md-4">
                <img src="" alt=""/>

                <h3>Кондиционеров</h3>
            </div>
            <div class="col-md-4">
                <h3>и др.</h3>
            </div>
        </div>
    </div>
</div>

<div class="landing-page">
    <div class="page-section comments">
        <h2>Отзывы наших клиентов</h2>

        <div class="row">
            <div class="col-md-6 comment">
                <div class="avatar"><img class="avatar-image" src="images/avatars/аватар-отзыв-о-ремонте.jpg"
                                         alt="Отзыв о ремонте"/></div>
                <q>Пришел мастер, разобрал, починил, собрал - все заработало. Быстро, качественно - молодцы, так
                    держать!</q>
            </div>
            <div class="col-md-6">
                <div class="avatar"><img class="avatar-image" src="images/avatars/аватар-отзыв-ремонт.png"
                                         alt="Отзыв о ремонте"/></div>
                <q>Другие браться не хотели. Спасибо за качественный ремонт. До сих пор все работает отменно :)</q>
            </div>
        </div>
    </div>
</div>
<div class="none comments-list">
    <div class="comment-item">
        <img class="avatar-image" src="images/avatars/аватар-отзыв-о-ремонте.jpg" alt="Отзыв о ремонте"/></div>
    <q>Как замечательно быть с вами</q>
</div>
</div>


<div class="landing-page">
    <div class="services-wrapper page-section">
        <h2>Мы выполняем работы по ремонту:</h2>

        <div class="row">

            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/red-wash-machine.jpg" alt=""/>

                    <h3>Стиральных машин</h3>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/shiny_red_boiler_boiler_lines_isolated_white_background.jpg" alt=""/>

                    <h3>Бойлеров</h3>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/jsd-10-lcd-red_enl.jpg" alt=""/>

                    <h3>Газовых колонок</h3>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/cuisiniere-rouge-brio.jpg" alt=""/>

                    <h3>Газовых плит</h3>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/retro-holodilnik.jpg" alt=""/>

                    <h3>Холодильников</h3>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="images/services/retro-holodilnik.jpg" alt=""/>

                    <h3>Холодильников</h3>
                </a>
            </div>
        </div>
    </div>
</div>