a {
  color: #444;
}
a:hover {
  color: #2b2b2b;
}
#offcanvas-toggler >i {
  color: #6a6a6a;
}
#offcanvas-toggler >i:hover {
  color: #444;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #353535;
  background-color: #444;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #1e1e1e;
  background-color: #2b2b2b;
}
ul.social-icons >li a:hover {
  color: #444;
}
.sp-page-title {
  background: #444;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #222222;
}
.sp-module ul >li >a:hover {
  color: #444;
}
.sp-module .latestnews >div >a {
  color: #222222;
}
.sp-module .latestnews >div >a:hover {
  color: #444;
}
.sp-module .tagscloud .tag-name:hover {
  background: #444;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #444;
}
.search .btn-toolbar button {
  background: #444;
}
.post-format {
  background: #444;
}
.voting-symbol span.star.active:before {
  color: #444;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #2b2b2b;
}
.entry-link,
.entry-quote {
  background: #444;
}
blockquote {
  border-color: #444;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #444;
}
.sp-comingsoon body {
  background-color: #444;
}
.pagination>li>a,
.pagination>li>span {
  color: #222222;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #222222;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #444;
  background-color: #444;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #444;
  background-color: #444;
}
